<div class = "full-height">
    <div class = "center">
        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '460px'}" styleClass="p-card-shadow" >
            <ng-template pTemplate="header">
                <img alt="Tux" src="https://cdn.pixabay.com/photo/2012/04/26/19/47/penguin-42936_960_720.png" height="200">
            </ng-template>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="Save" icon="pi pi-check"></p-button>
                    <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
                </ng-template>
        </p-card>
    </div>
</div>
<app-user-form></app-user-form>