
<div class = "flexbox">
    <div class="flexbox-item" *ngFor="let item of pollList$|async;index as i">
        <div class="titlebar">
            <p>{{item.topic_id}}</p>
        </div>
        <h1>
             {{item.title}}
        </h1>
    </div>
    
</div>
<div class="userform">
    <div class="secondDiv">
        <app-user-form></app-user-form>
    </div>
</div>
<!-- <tr *ngFor="let item of portList$|async" >
    <td *ngIf="item.portCountryId == 1">{{item.portId}}</td>
    <td *ngIf="item.portCountryId == 1">{{item.portName}}</td>
</tr> -->