<div class="mainView">
    <h1>Account Dashboard</h1>
    <h1>{{username}}</h1>
    
    <div class="container">
        <div class = "userData">
            <span class="p-float-label">
                <input id="old_password" placeholder="Old Password" type="password" pInputText [(ngModel)]="old_password"> 
            </span>
            <span class="p-float-label">
                <input id="new_password" placeholder="New Password" type="password" pInputText [(ngModel)]="new_password"> 
            </span>
            <span class="p-float-label">
                <input id="confirm_new_password" placeholder="Confirm New Password" type="password" pInputText [(ngModel)]="confirm_new_password"> 
            </span>
        </div>
        <div class="buttons">
            <p-button label="Sign out" icon="pi pi-sign-out" (onClick)="signOut($event)" ></p-button>
            <p-button label="Update Password" (onClick)="updatePassword($event)"></p-button>
        </div>
    </div>
    
</div>