.fancybtn{
    width: 150px;
    height: 50px;
    border-radius: 45px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    box-shadow: 0px 8px 15px
        rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.fancybtn:hover{
    background: rgb(37, 150, 190);
    transform: translateY(-7px);
    color:#fff;
    box-shadow: 0px 10px 15px
        rgba(37, 150, 190, 0.445);
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

h1{
    text-align: center;
}
.secondDiv{
    position: absolute;
    width: 100%;
    left: 0;
    height: 700px;
    top:100%;
    
}
