html, body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100dp;
  min-width: 100dp;
  color: rgba(255, 255, 255, 0.87);
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.main .number {
  padding-top: 200px;
  font-size: 4rem;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.main .number + .text {
  margin: 0 0 1rem;
  font-family: 'Roboto', sans-serif;
}

.main .text {
  font-weight: 300;
  text-align: center;
  padding-top: 10px;
  font-family: 'Roboto', sans-serif;
}

.easter_egg {
  padding-top: 10px;
}

.easter_egg .text{
  padding-top: 10px;
  display: inline;
}