<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" media="all" href="page-not-found.component.css" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="main">
            <div class="number">404</div>
            <div class="text">Page not found</div>
            <div class="text">This may not mean anything.</div>
            <div class="text">We're probably working on something that has blown up.</div>
            <div class="easter_egg">
                <div class="text">If you think that something is missing, </div>
                <div class="text"><a href="easter-egg">contact us</a></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>